Question 2: For this question youâ€™ll need to use SQL. Follow this link to access the data set required for the challenge. Please use queries to answer the following questions. Paste your queries along with your final numerical answers below.

### 2.1 How many orders were shipped by Speedy Express in total?

In [ ]:
%% sql

SELECT count(distinct O.OrderID) FROM Orders O left join Shippers S
on O.ShipperID = S.ShipperID
where ShipperName = 'Speedy Express'

**answer is 54**

### 2.2 What is the last name of the employee with the most orders?

In [ ]:
%% sql

with Temp as
(SELECT E.Lastname, count(distinct O.OrderID) as Total_Order FROM Orders O
join Employees E
on E.EmployeeID = O.EmployeeID
Group by O.EmployeeID) 

select LastName, Total_Order from temp
where temp.Total_Order = (select max(Total_Order) from Temp)

**answer : Peacock**

It has total 40 orders.

### 2.3 What product was ordered the most by customers in Germany?

In [ ]:
%% sql

With Ger_O as 
(SELECT O_Info.ProductID, sum(O_Info.Quantity) as Total_item from Customers C join
(SELECT * FROM OrderDetails OD join Orders O
on OD.OrderID = O.OrderID) O_Info
on C.CustomerID = O_Info.CustomerID
where C.Country = 'Germany'
Group By O_Info.ProductID) 

select P.ProductName, MaxP.Total_item from Products P,
(select * from Ger_O
where Ger_O.Total_item = (select max(Ger_O.Total_item) from Ger_O))MaxP
where MaxP.ProductID = P.ProductID

**answer : Boston Crab Meat**

There are total 160 unit of this product ordered by customers in Germany.

**Note**: In the question 2 and 3 there are several other methods to get the same answer in this dataset
For example 1. First Order by specific column value in Desc order, and then use Limite 1 to get the highest result
or 2. simplely use the max() function.
**However this kind of methods can not go through the cases which have two or several same max value, they can only out put one record. 
The solution Given in my answer can output all the records with the highest value.**